#!/bin/sh

echo "Content-type: text/plain"
echo ""

alias my_python="{{ venv }}/bin/python"
alias my_pip="{{ venv }}/bin/pip"

cd {{ repo_dir }}
git pull

my_pip install -r requirements.txt
my_python manage.py migrate --noinput
my_python manage.py collectstatic --noinput

pkill python
