# coding: utf-8
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'HOST': '{{ db.host }}',
        'USER': '{{ db.user }}',
        'PASSWORD': '{{ db.password }}',
        'NAME': '{{ db.name }}',
    }
}

ALLOWED_HOSTS = ['{{ site_url }}']

DEVSERVER_MODULES = ()

MEDIA_URL = '{{ media_url }}'
MEDIA_ROOT = '{{ media_dir }}'
STATIC_URL = '{{ static_url }}'
STATIC_ROOT = '{{ static_dir }}'

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'filters': {
        'require_debug_false': {
            '()': 'django.utils.log.RequireDebugFalse'
        }
    },
    'handlers': {
        'mail_admins': {
            'level': 'ERROR',
            'filters': ('require_debug_false',),
            'class': 'django.utils.log.AdminEmailHandler'
        },
        'console': {
            # logging handler that outputs log messages to terminal
            'class': 'logging.StreamHandler',
            'level': 'DEBUG', # message level to be written to console
        },
    },
    'loggers': {
        'django.request': {
            'handlers': ('mail_admins',),
            'level': 'ERROR',
            'propagate': True,
        },
    }
}